Enzeru.AvaloniaUI/obj/Enzeru.AvaloniaUI.csproj.nuget.dgspec.json
Enzeru.AvaloniaUI/obj/Enzeru.AvaloniaUI.csproj.nuget.g.props
Enzeru.AvaloniaUI/obj/Enzeru.AvaloniaUI.csproj.nuget.g.targets
Enzeru.AvaloniaUI/obj/project.assets.json
Enzeru.AvaloniaUI/obj/project.nuget.cache
